<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ISSATEX</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>controllers.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addOF</display-name>
    <servlet-name>addOF</servlet-name>
    <servlet-class>controllers.addOF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOF</servlet-name>
    <url-pattern>/addOF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>preparerOF</display-name>
    <servlet-name>preparerOF</servlet-name>
    <servlet-class>controllers.preparerOF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>preparerOF</servlet-name>
    <url-pattern>/preparerOF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>controllers.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertilot</display-name>
    <servlet-name>insertilot</servlet-name>
    <servlet-class>controllers.insertilot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertilot</servlet-name>
    <url-pattern>/insertilot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pointer</display-name>
    <servlet-name>pointer</servlet-name>
    <servlet-class>controllers.pointer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pointer</servlet-name>
    <url-pattern>/pointer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArticle</display-name>
    <servlet-name>AddArticle</servlet-name>
    <servlet-class>controllers.AddArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArticle</servlet-name>
    <url-pattern>/AddArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RendJour</display-name>
    <servlet-name>RendJour</servlet-name>
    <servlet-class>controllers.RendJour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RendJour</servlet-name>
    <url-pattern>/RendJour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RendAnne</display-name>
    <servlet-name>RendAnne</servlet-name>
    <servlet-class>controllers.RendAnne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RendAnne</servlet-name>
    <url-pattern>/RendAnne</url-pattern>
  </servlet-mapping>
</web-app>